@media screen and (max-width: 992px) {
  .none {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .media {
    position: static;
    top: 0;
    left: 0;
  }
}

.panel:hover {
  color: blue;
}
